<!DOCTYPE html>
<html lang="en">
    <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="css/migos.css">
        <title>Migos Collection</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" id="mainNav">
            <div class="container">
               <a class="navbar-brand js-scroll-trigger" href="#" style="color: #fff;">MIGOS<br>OFFICIAL STORE</a>
               <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle Navigation">Shop <i class="fa fa-bars" style="color: #fff;"></i></button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                 <ul class="navbar-nav text-uppercase ml-auto">
                   <li class="nav-item"><a class="nav-link js-scroll-trigger" href="migos.html" style="color: #fff; font-size:20px;">MIGOS</a></li>
                   <li class="nav-item"><a class="nav-link js-scroll-trigger" href="quavo.html" style="color: #fff; font-size:20px;">QUAVO</a></li>
                   <li class="nav-item"><a class="nav-link js-scroll-trigger" href="takeoff.html" style="color: #fff; font-size:20px;">TAKEOFF</a></li>
                   <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#" style="color: #fff; font-size:20px;">OFFSET</a></li>
                   <li class="nav-item"><a class="nav-link js-scroll-trigger" href="tour.html" style="color: #fff; font-size:20px;">TOUR MERCH</a></li>
     
                   <form class="form-inline my-2 my-lg-0">
                      <input type="text" class="form-control mr-sm-2" placeholder="cart">
                      <button class="btn btn-outline-light my-2 my-sm-0">Cart</button>
                   </form>
                 </ul>
               </div>
            </div>
           </nav>

          <div class="container m-5">
           <nav aria-label="breadcrumb">
              <ol class="breadcrumb" style="background-color: black; color: #fff; text-align: left; font-size: 10px; margin-left: 100px;">
              <p class="breadcrumb-item"><a class="bag" href="#">HOME</a></p>
             <p class="breadcrumb-item">MIGOS</p>
            </ol>
           </nav>
          </div>

          <header>
              <section class="section-header">
                 <h1 class="header_title">MIGOS</h1>
              </section>
          </header>

           <section class="container">
            <section class="row">
              <div class="col-3">
                <button type="button"><img src="css/img/migos1.png" alt="migos" class="images"></button>
                 <p><a href="#" style="text-align:left; color: #fff; margin-left: 30px; font-size: 15px;">GNF COVER ART T-SHIRT</a></p>
                <p style="text-align:left; color: #fff; margin-left: 30px; font-size: 15px;">$35.00</p>
              </div>
              <div class="col-3">
               <button type="button"><img src="css/img/migos2.png" alt="migos" class="images"></button>
               <p><a href="#" style="text-align:left; color: #fff; margin-left: 30px; font-size: 15px;">MIDDLE FINGER HODDIE</a></p>
               <p style="text-align:left; color: #fff; margin-left: 30px; font-size: 15px;">$65.00</p>
              </div>
              <div class="col-3">
                <button type="button"><img src="css/img/migos3.jpg" alt="migos" class="images"></button>
                <p><a href="#" style="text-align:left; color: #fff; margin-left: 30px; font-size: 15px;">CULTURE II HODDIE</a></p>
                <p style="text-align:left; color: #fff; margin-left: 30px; font-size: 15px;">$60.00</p>
              </div>
              <div class="col-3">
               <button type="button"><img src="css/img/migos4.jpg" alt="migos" class="images"></button>
               <p><a href="#" style="text-align:left; color: #fff; margin-left: 30px; font-size: 15px;">CULTURE II LONG SLEEVE</a></p>
               <p style="text-align:left; color: #fff; margin-left: 30px; font-size: 15px;">$40.00</p>
              </div>
            </section>
        </section>

        <section class="container">
         <section class="row">
          <div class="col-3">
           <button type="button"><img src="css/img/migos5.png" alt="migos" class="images"></button>
           <p><a href="#" style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">CULTURE II T-SHIRT</a></p>
           <p style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$30.00</p>
          </div>
          <div class="col-3">
            <button type="button"><img src="css/img/migos6.jpg" alt="migos" class="images"></button>
            <p><a href="#" style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">DOVES T-SHIRT</a></p>
            <p style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$30.00</p>
          </div>
          <div class="col-3">
            <button type="button"><img src="css/img/migos7.png" alt="migos" class="images"></button>
            <p><a href="#" style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">THE LAST ROCKET LONG SLEEVE</a></p>
            <p style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$40.00</p>
          </div>
          <div class="col-3">
           <button type="button"><img src="css/img/migos8.png" alt="migos" class="images"></button>
           <p><a href="#" style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">HUNCHO BLACK HOODIE</a></p>
           <p style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">SOLD OUT</p>
          </div>
         </section>
        </section>

        <section class="container">
          <section class="row">
            <div class="col-3">
               <button type="button"><img src="css/img/migos9.png" alt="migos" class="images"></button>
               <p><a href="#" style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">COUNTDOWN HOODED SWEATSHIRT</a></p>
               <p style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$80.00</p>
            </div>
            <div class="col-3">
             <button type="button"><img src="css/img/migos10.png" alt="migos" class="images"></button>
             <p><a href="#" style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">CULTURE II - 3 LP VINYL</a></p>
             <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$29.99</p>
            </div>
            <div class="col-3">
              <button type="button"><img src="css/img/migos11.png" alt="migos" class="images"></button>
              <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">KANJI HOODIE</a></p>
              <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$60.00</p>
            </div>
            <div class="col-3">
              <button type="button"><img src="css/img/migos12.png" alt="migos" class="images"></button>
              <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">THE LAST ROCKET LP</a></p>
              <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$23.00</p>
            </div>
          </section>
        </section>

        <section class="container">
         <section class="row">
          <div class="col-3">
            <button type="button"><img src="css/img/migos13.png" alt="migos"  class="images"></button>
            <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">TOUR EXCLUSIVE</a></p>
            <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$30.00</p>
          </div>
          <div class="col-3">
            <button type="button"><img src="css/img/migos14.png" alt="migos" class="images"></button>
            <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">DRIP TEE</a></p>
            <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$30.00</p>
          </div>
          <div class="col-3">
             <button type="button"><img src="css/img/migos15.png" alt="migos" class="images"></button>
             <p><a  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;"href="#" >MOTORSPORT T-SHIRT</a></p>
             <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$30.00</p>
          </div>
          <div class="col-3">
             <button type="button"><img src="css/img/migos16.png" alt="migos" class="images"></button>
             <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">QUAVO HUNCH CD</a></p>
             <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$13.99</p>
          </div>
         </section>
        </section>

        <section class="container">
          <section class="row">
            <div class="col-3">
             <button type="button"><img src="css/img/migos17.png" alt="migos" class="images"></button>
             <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">THE LAST ROCKET CD</a></p>
             <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$12.00</p>
            </div>
            <div class="col-3">
             <button type="button"><img src="css/img/migos18.png" alt="migos" class="images"></button>
             <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">TOUR EXCLUSIVE HODDIE</a></p>
             <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$60.00</p>
            </div>
            <div class="col-3">
              <button type="button"><img src="css/img/migos19.png" alt="migos" class="images"></button>
              <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">BOMBER JACKET</a></p>
              <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$220.00</p>
            </div>
            <div class="col-3">
              <button type="button"><img src="css/img/migos20.png" alt="migos" class="images"></button>
              <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">QUAVO HUNCHO LP</a></p>
              <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$24.99</p>
            </div>
          </section>
        </section>

        <section class="container">
          <section class="row">
             <div class="col-3">
               <button type="button"><img src="css/img/migos21.png" alt="migos" class="images"></button>
               <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">MIGOS TOUR CUSTOME</a></p>
               <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$125.00</p>
             </div>
             <div class="col-3">
               <button><img src="css/img/migos22.png" alt="migos" class="images"></button>
               <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">QUAVO HUNCHO DIGITAL</a></p>
               <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$12.99</p>
             </div>
             <div class="col-3">
              <button type="button"><img src="css/img/migos23.png" alt="migos" class="images"></button>
              <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">MOTORSPORT LOGO HAT</a></p>
              <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$30.00</p>
             </div>
             <div class="col-3">
               <button type="button"><img src="css/img/migos24.png" alt="migos" class="images"></button>
               <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">THE LAST ROCKET DIGITAL</a></p>
               <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$10.00</p>
             </div>
          </section>
        </section>

        <section class="container">
         <section class="row">
           <div class="col-3">
             <button type="button"><img src="css/img/migos25.png" alt="migos" class="images"></button>
             <p><a href="#"  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">MOTORSPORT LOGO HAT</a></p>
             <p  style="text-align:left; color: #fff; margin-left:30px; font-size: 15px;">$30.00</p>
           </div>
         </section>
        </section>


        <div class="container m-5">
            <nav aria-label="breadcrumb">
             <ol class="breadcrumb" style="background-color: black; color: #fff; text-align: left; font-size: 10px; margin-left: 100px;">
               <p class="breadcrumb-item">2020 MIGOS</p>
               <p class="breadcrumb-item">OFFICIAL STORE.ALL RIGHTS RESERVED</p>
               <p class="breadcrumb-item"><a class="bag" href="#">CONTACT US</a></p>
               <p class="breadcrumb-item"><a class="bag" href="#">FAQS</a></p>
               <p class="breadcrumb-item"><a class="bag" href="#">TERMS</a></p>
               <p class="breadcrumb-item"><a class="bag" href="#">PRIVACY</a></p>
               <p class="breadcrumb-item"><a class="bag" href="#">DO NOT SELL MY PERSONAL INFORMATION</a></p>
               <p class="breadcrumb-item"><a class="bag" href="#"> COOKIE CHOICES</a></p>
             </ol>
            </nav>
          </div>

             <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>